
.link {
    color: #0070f3;
    text-decoration: none;
  }
  
.link:hover,
.link:focus,
.link:active {
    text-decoration: underline;
  }

.footer {
  max-width: 1000px;
  display: flex;
  justify-content: left;
  margin-top: 2rem;
}
